:root {
    --header-color: rgb(75, 41, 107);
}

div#center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#center p {
    margin: 0.5em 0;
    text-align: center;
}

.md-typeset h5, .md-typeset h6 {
    text-transform: none;
    color: var(--md-typeset-color);
    margin: 1em 0;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -0.01em;
}

.md-header {
    background-color: var(--header-color);
}

@media screen and (max-width: 76.1875em) {
    .md-nav--primary .md-nav__title[for=__drawer] {
        background-color: var(--header-color);
    }
}